.nav_links{
    color: black;
}

a{
    color: black;
}

.about{
    color: black;
}

img {
    width: 100%;
}

footer{
    border: solid black 2px;
    border-radius: 30px;
    width: fit-content;
    padding: 5px;
    background-color: white;
}

