.center{
    margin: auto;
    width: 50%;
}
.skip{
    position: absolute;
    top: -50px;
}

.skip:focus{
    position: absolute;
    top: 20px;
}

.menu{
    display: none;
}

.main_page{
    background-image: url("../images/background.svg");
}

.mov1, .mov2{
    background-color: blue;
}

.nav_links{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

a {
    padding: 10px;
    background-color: white;
    border: dotted black 2px;
}

.active{
    font-size: 200%;
}

main{
    border: solid black 2px;
    width: 80%;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
}

.gallery{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
}

.movie_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.runtimes{

    padding: 5px;
    border: solid orange 5px;
    border-radius: 40px;
    background-color: cornflowerblue;
}

.cast{
    padding: 5px;
    border: solid blue 5px;
    border-radius: 50px;
    background-color: orange;
}

.accolades{
    padding: 5px;
    border: solid dodgerblue 5px;
    border-radius: 45px;
    background-color:coral;
}

@media screen and (min-width: 750px) {
    .gallery{
        display: grid;
        justify-content: left;
        grid-template-columns: auto auto auto;
    }
    

    .nav_links{
        font-size: 80%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .menu{
        font-size: 150%;
        display: inline;
        border: dotted black 2px;
        background-color: white;
    }
    .mov1, .mov2{
        background-color: yellow;
    }

    .active{
        font-size: 300%;
        border: solid black 3px;
    }
}

@media screen and (min-width: 1100px) {
    .gallery{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .center{
        width: 80%;
    }
    .movie_info{
        flex-direction: row;
        align-items: center;
    }
    .mov1, .mov2{
        background-color: orangered;
    }
    .menu{
        font-size: 175%;
    }
    #image1{
        grid-column: 1/2;
    }
    #image2{
        grid-column: 3/4;
    }
    #image3{
        grid-column: 2/3;
    }
    #image4{
        grid-column: 1/2;
    }
    #image5{
        grid-column: 3/4;
    }
    #image6{
        grid-column: 2/3;
    }
    #image7{
        grid-column: 1/2;
    }
    #image8{
        grid-column: 3/4;
    }
    #image9{
        grid-column: 2/3;
    }

    #image_a{
        grid-column: 1/2;
    }
    #image_b{
        grid-column: 3/4;
    }
    #image_c{
        grid-column: 2/3;
    }
    #image_d{
        grid-column: 1/2;
    }
    #image_e{
        grid-column: 3/4;
    }
    #image_f{
        grid-column: 2/3;
    }
    #image_g{
        grid-column: 1/2;
    }
    #image_h{
        grid-column: 3/4;
    }
    #image_i{
        grid-column: 2/3;
    }
    

    
    
}